alias gitwtf='git whatchanged -p --abbrev-commit --pretty=medium'
alias gitlog='git log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"'
alias gitdiffamend='git reflog | head -n 2 | awk '"'"'{ print $1 }'"'"' | xargs git diff'
alias jscs='jscs -p airbnb'
