export LC_ALL="en_US.UTF-8"
export EDITOR=vim
export WECHALLUSER="spajus"
export WECHALLTOKEN="551AD-D9840-8A934-16585-13635-42C2D"

export DOTNET_CLI_TELEMETRY_OPTOUT=1

# avoid duplicates..
export HISTCONTROL=ignoredups:erasedups

# append history entries..
shopt -s histappend

unset HISTFILESIZE
export HISTSIZE=50000

# After each command, save and reload history
export PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND$'\n'}history -a; history -c; history -r"
