[alias]
        st = status
        ci = commit
        co = checkout
        br = branch
        branch-status = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[user]
        name = Tomas Varaneckas
        email = tomas.varaneckas@gmail.com
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[core]
        excludesfile = ~/.gitignore_global
        editor = vim -f
[branch]
        autosetuprebase = always
[branch "master"]
        rebase = true
[rebase]
        stat = true
[push]
        default = current
[web]
        browser = open
[filter "media"]
        clean = git-media-clean %f
        smudge = git-media-smudge %f
